:root{
    --margenes: 5px 10px;
    --space-around: space-around
}

.contenedor-padre{
    display: flex;
    flex-direction: column;
    background-color: blue;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

}

.principal-title{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    
}
.title-ejercicios{
    display: flex;
   justify-content: center;
   background-color: red;
}

.ejercicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: var(--margenes);
    gap: 30px;
    
}

.articulos:nth-child(1){
 
    background-image: url("slamdung.jpg") ;
    background-size: cover;
    flex: 1 1 auto;
   
}

.articulos:nth-child(2){
    background-color: white;
    flex: 1 1 auto;
}





